
@import "./assets/css/reset.css";
@import "./assets/css/variable.css";

/* ----------------------------------------
    Genaral
---------------------------------------- */

body{
    font-family: var(--body-font);
    color: var(--body-color);
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
    color:var(--heading-color)
}

a{
    text-decoration: none;
    color: var(--heading-color)
}

li{
    list-style: none;
}

i{
    color: white;
}
/* ----------------------------------------
    Header
---------------------------------------- */

.sticky_header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: top 0.3s;
    z-index: 10000;
}


.top_header{
    background-color: var(--color-primary);
    padding: 10px 100px;
}

.top_header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_header_left .header_contact_link{
    display: flex;
    color: white;
    gap: 30px;
}

.header_contact_link a{
    color: white;
}

.contact_icon{
    display: flex;
    gap: 10px;
}

.contact_icon a{
    background-color: rgba(255, 255, 255, 0.259);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_header{
    background-color: white;
    padding: 0px 100px;
}

.main_header_inner{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.main_header_left,
.main_header_center,
.nav_list,
.nav_list li,
.main_header_right,
.search_btn {
    display: flex;
    align-items: center;
}

.nav_list, .nav_list li{
    height: 100%;
    font-size: large;
}

.nav_list li{
    padding: 0px 20px;
}

.nav_list a:hover{
    color: var(--color-secondary);
}

.dropdown_item {
    position: relative;
}

.dropdown_item ul {
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
}

.dropdown_item:hover ul {
    border-top: 3px solid var(--color-secondary);
    margin-top: 184px;
    display: block;
    width: 200px;
}

.dropdown_item ul li {
    padding: 10px 30px;
}

.main_header_right {
    padding: 25px 0px;
    gap:30px;
}

.main_header_right .search_btn{
    border: 2px solid var(--color-secondary);
    border-radius: 8px;
}

.main_header_right .search_btn input, button{
    padding: 10px;
    border: none;
    outline: none;
}

.main_header_right .search_btn input{
    border-radius: 5px;
}

.main_header_right .search_btn button{
    background-color: var(--color-secondary);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main_header_right .nav_contact{
    font-family: var(--heading-font);
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: var(--color-secondary);
    padding: 12px 20px;
    border-radius: 30px;
}

.main_header_right .nav_contact:hover{
    background-color: var(--color-primary);
    transition: all 0.3s;
}

/* ----------------------------------------
    General page
---------------------------------------- */

.general_page{
    /* height: 100vh; */
    background: url(./assets/images/hero_slider_3.jpg);
    background-position: center;
}

.general_page .content{
    padding: 200px 100px 100px 100px;
    width: 55%;
}

.general_page .title{
    font-size: 70px;
    line-height: 80px;
}

.general_page .title span{
    color: var(--color-secondary);
    text-decoration: underline;
}

.general_page .subtitle{
    margin: 20px 0px;
    font-size: 18px;
    line-height: 26px;
    color: var(--body-color);
}

.general_page .information{
    border-left: 5px solid var(--color-primary);
    color: var(--color-primary);
    padding-left: 20px;
    margin-bottom: 40px;
}


.general_page .information h3{
    color: var(--color-primary);
    font-size: 30px;
}

.general_page button{
    background-color: var(--color-primary);
    border-radius: 28px;
    color: white;
    font-weight:bold;
    padding: 14px 26px;
    margin-right: 16px;
    font-size: 18px;
}

.general_page button:hover{
    background-color: var(--color-secondary);
    transition: all 0.3s;
}

/* ----------------------------------------
    Thumbnail
---------------------------------------- */

.thumbnail{
    display: flex;
    background-color: var(--color-primary);
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    height: 180px;
    position: relative;
}

.thumb_left{
    display: flex;
    height: 100%;
    align-items: center;
    color: rgba(255, 255, 255, 0.74);
}

.thumb_img{
    height: 100%;
}

.thumb_img img{
    height: 100%;
    width: auto;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 50px solid var(--color-secondary);
    margin-right: 30px;
}

.thumbnail h2{
    color: white;
    margin-bottom: 10px;
}

.thumb_right button i{
    color: var(--color-primary);
}

.thumbnail button{
    background-color: white;
    border-radius: 28px;
    color: var(--color-primary);
    font-weight:bold;
    padding: 14px 26px;
    font-size: 18px;
}

.thumbnail button:hover{
    background-color: var(--color-secondary);
    color:white;
    transition: all 0.3s;
}

.thumbnail button:hover i {
    color: white;
    transition: all 0.3s;
}

.thumb_shape {
    width: 50px;
    height: 50px;
    right: 0px;
    bottom: 0px;
    background: #007bff;
    border-top-left-radius: 100%;
    position:absolute;
    animation: ripple1 3s infinite ;
}

@keyframes ripple1 {
    0% {
        box-shadow: 0 0 0 0px var(--color-secondary);
    }
    100% {
        box-shadow: 0 0 0 80px rgba(0, 98, 255, 0);
    }
} 

/* ----------------------------------------
    About
---------------------------------------- */

.about .container{
    display: flex;
    padding: 100px 100px 0px 100px;
    justify-content: space-between;
    gap: 150px;
}

.about_thumb{
    position: relative ;
    width: 70%;
}

.about_thumb_top{
    width: 100%;
    display: flex;
}

.about_thumb_top img{
    width: 100%;
    height: auto;
}

.about_thumb_top_link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-left: 30px;
    gap: 18px;
}

.about_thumb_top_link .text{
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    color: var(--color-primary);
    font-size: 22px;
}

.about_thumb_top_link div{
    background-color: var(--color-secondary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 16px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: ripple2 3s infinite ;
}

.about_thumb_top_link .shape{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 14px solid white;
}

@keyframes ripple2 {
    0% {
        box-shadow: 0 0 0 0px var(--color-secondary);
    }
    100% {
        box-shadow: 0 0 0 12px rgba(0, 98, 255, 0);
    }
} 

.about_thumb_bottom{
    width: 80%;
    position: relative;
    left: 200px;
    top: -80px;
}

.about_thumb_image_bottom{
    width: 100%;
    height: 100%;
}

.about_thumb_shape_bottom{
    position: absolute;
    left: -200px;
    top: 100px;
}

.experience_box{
    position: absolute;
    height: 180px;
    width: 180px;
    background-color: var(--color-primary);
    border-radius: 50%;
    top: 440px;
    left: 120px;
    border: 10px white solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience_box_number{
    font-size: 34px;
    color: white;
    font-weight: 500;
}

.experience_box_title{
    font-size: 16px;
    color: white;
    font-weight: 400;
}

.about_content{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 40px;
}

.about_subtitle{
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about_title{
    font-size: 38px;
    line-height: 48px;
}

.about_iconbox{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.about_iconbox_content{
    border-bottom: 1px solid var(--body-color);
}

.iconbox_head{
    display: flex;
    border-bottom: 1px solid var(--body-color);
    align-items: center;
    padding-bottom: 20px;
    gap: 20px;
}

.iconbox_head:hover .iconbox_icon{
    color:white;
    background-color: var(--color-primary);
    transition: all 0.3s;
}

.iconbox_head:hover img{
    filter: brightness(0) invert(1);
    transition: all 0.3s;
}

.iconbox_icon{
    background-color: rgb(221, 243, 255);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.iconbox_title{
    font-size: 24px;
}

.iconbox_subtitle{
    margin-top: 20px;
    margin-bottom: 30px;
    color: var(--body-color);
}

.about_iconbox_foot p:nth-child(1){
    color: var(--body-color)
}

.about_iconbox_foot p:last-child{
    color: var(--color-secondary);
    text-decoration: underline;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
}

.about_btn{
    background-color: var(--color-secondary);
    border-radius: 28px;
    color: white;
    font-weight:bold;
    padding: 14px 26px;
    font-size: 18px;
    width: 180px;
}

.about_btn:hover{
    background-color: var(--color-primary);
    color:white;
    transition: all 0.3s;
}

/* ----------------------------------------
    Counter
---------------------------------------- */

.counter{
    display: flex;
    justify-content: center;
}
.counter .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--color-primary);
    border-radius: 20px;
    padding: 30px 50px;
    gap: 50px;
}

.counter_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.512);
    border-radius: 14px;
}

.counter_icon{
    background-color: white;
    height: 68px;
    width: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.counter_box:hover .counter_icon{
    background-color: var(--color-secondary);
    transition: all 0.3s;
}

.counter_box:hover .counter_icon img{
    filter: brightness(0) invert(1);
    transition: all 0.3s;
}

.counter_number{
    font-size: 30px;
    font-weight: 500;
}

.counter_text{
    font-size: 24px;
}

/* ----------------------------------------
    Seivices
---------------------------------------- */

.services{
    background-color: rgba(0, 0, 0, 0.045);
    margin-top: 80px;
}
.services .container {
    width: 100%;
    padding: 80px 100px;
  }
  
 .services .section_header {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .services .section_header_left {
    width: 35%;
    /* border: 1px solid black; */
  }
  
  .services .section_header_left p {
    color: #2ea6f7;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .services .section_header_left .section_title {
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
  }
  
  .services .section_header_right {
    display: flex;
    width: 45%;
    color: var(--body-color);
    font-size: 16px;
    align-items: center;
  }
  
  .services .section_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
  }
  
  .services .item {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 16px;
  }
  
  .services .item:hover {
    background-color:var(--color-primary);
  }
  
  .services .item:hover .item_content_header .icon {
    background-color: var(--color-secondary);
  }
  
  .services .item:hover .item_content_header h2 {
    display: block;
  }
  
  .services .item_content {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    padding: 10px 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 1rem;
  }
  
  .services .item_content_header {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
  }
  
  .services .item_content_header h2 {
    /* border: 1px solid black; */
    font-weight: 900;
    font-size: 40px;
    display: none;
    color: #8698bb;
  }
  
  .services .icon {
    /* border: 1px solid black; */
    background-color: #002261;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .services .item_content_title a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    color: black;
  }
  
  .services .item_content_subtitle {
    color: #636363;
    font-size: 24px;
  }
  
  .services .item:hover .item_content_title a {
    color: white;
  }
  
  .services .item:hover .item_content_subtitle {
    color: white;
  }
  
  .services .section_footer {
    margin-top: 100px;
    margin-bottom: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    /* align-items: center; */
  }
  
  .services .footer_icon img {
    width: 32px;
  }
  
  .services .footer_text {
    font-size: 27px;
  }
  
  .services .footer_text a {
    color: #2ea6f7;
    font-weight: 700;
    text-decoration: none;
  }
  
  .services .footer_text a:hover {
    text-decoration: underline;
  }
  

/* ----------------------------------------
    About doctors
---------------------------------------- */



.about_doctors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  .about_doctors p:first-child{
    color: var(--color-secondary);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .about_doctors h2{
    font-size: 32px;
  }

  .about_doctors .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    gap: 20px;
    margin-top: 40px;
  }

  .doctor_img{
    height:80%;
  }

  .doctor_img img{
    width: auto;
    height: 100% ;
  }

  .doctor_box {
    position: relative;
    border-radius: 8px;
    transition: transform 0.3s;
  }

  .infor {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--color-primary);
    text-align: center;
    padding: 30px 10px;
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.doctor_box:hover .infor {
    display: flex;
    gap: 10px;
    opacity: 1;
    transform: translateY(-100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.doctor_box:hover h3,p{
    color:white;
}

/* ----------------------------------------
    blogs
---------------------------------------- */

.blogs {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px 100px;
    line-height: 1.6;
    color: #333;
    background-color: rgba(0, 0, 0, 0.045);
  }
  
  /* Section Content */
  .blog_content {
    padding: 50px 0;
    background-color: #f8f9fa;
  }
  
  /* Container */
  .blog_content .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /* Heading Section */
  .sc_heading {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .sc_heading .sc_subtitle {
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .sc_heading .cs_title {
    font-size: 28px;
    font-weight: bold;
    color: var(--heading-color);
  }
  
  /* Grid Layout */
  .sc_gird {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
  
  /* Article Card */
  .sc_item {
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sc_post_thumnail {
    display: block;
    position: relative;
  }
  
  .sc_post_thumnail img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .sc_post_category {
    background-color: white;
    color: var(--color-secondary);
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 8px;
  }
  
  .sc_post_category:hover {
    background-color: var(--color-secondary);
    color: white;
  }
  
  /* Post Content */
  .sc_post_content {
    padding: 20px;
    position: relative;
  }
  
  .sc_post_mete_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    
  }
  
  .sc_posted_by {
    font-size: 14px;
    color: var(--body-color);
  }
  
  .sc_post_item {
    display: flex;
    align-items: center;
  }
  
  .sc_post_item img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  
  .sc_post_item span {
    font-size: 14px;
    color: var(--body-color);
  }
  
  .sc_post_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .sc_post_title a {
    color: var(--heading-color);
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .sc_post_title a:hover {
    color: var(--color-secondary);
  }
  
  .sc_post_subtitle {
    font-size: 18px;
    color: var(--body-color);
    margin-bottom: 15px;
  }
  
  .sc_post_btn {
    text-decoration: none;
    font-size: 18px;
    color: var(--body-color);
    font-weight: bold;
    display: inline-flex;
    align-items: center;
  }
  
  .sc_post_btn:hover {
    color: var(--color-secondary);
  }

  /* ----------------------------------------
    Contact
---------------------------------------- */

  .appointment {
    display: flex;
    flex-direction: column;
    gap: 6vh;
    /* border: 1px solid black; */
    padding: 100px 250px;
  }
  
  .contact_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 46px;
  }
  
  .contact_form input {
    height: 6.8vh;
    border-radius: 4px;
    padding-left: 2vh;
    border: 0.1px solid black;
    padding-right: 2vh;
    outline: none;  
  }
  
  .contact_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 46px;
  }
  
  .contact_form input {
    height: 6.8vh;
    border-radius: 4px;
    padding-left: 2vh;
    border: 0.1px solid black;
    padding-right: 2vh;
    outline: none;
  }
  
  .contact_form input::placeholder {
    font-size: 18px;
  }
  
  .contact_form option {
    height: 6vh;
    border-radius: 4px;
    padding-left: 2vh;
    padding-right: 2vh;
  }
  
  .appointment button {
    background-color: var(--color-secondary);
    border-radius: 28px;
    color: white;
    font-weight:bold;
    padding: 16px 26px;
    font-size: 20px;
    width: 200px;
    align-self: center;
  }
  
  .appointment button:hover {
    background-color: var(--color-primary);
    color:white;
    transition: all 0.3s;
  }
  
.why_choose_us{
    background-image: url(assets/images/service_bg_2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 80px 100px;
    gap: 40px;
}

.why_choose_us .section_subtitle{
    color: var(--color-secondary);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.why_choose_us .section_title{
    font-size: 32px;
}

.why_choose_us .icon_container{
    display: grid;
    grid-template-columns: repeat(2, 320px);
    grid-template-rows: repeat(3, auto);
    column-gap: 100px;
    row-gap: 50px;
}

.why_choose_us .iconbox_wrap{
    display: flex;
    align-items: center ;
    justify-content: flex-start;
    gap: 20px;
}

.why_choose_us .iconbox_subtitle{
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.why_choose_us .iconbox_icon{
    padding: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
}

.why_choose_us .iconbox_wrap:hover .iconbox_icon {
    background-color: var(--color-primary);
}

.why_choose_us .iconbox_wrap:hover .iconbox_icon img {
    filter: brightness(0) invert(1);
}


/* ----------------------------------------
    Footer
---------------------------------------- */

footer p,
footer a,
footer h4,
footer li {
  color: white;
}

.main_footer {
  background-image: url("../../assets/images/footer_bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 11vh;
  margin-top: 60px;
  /* padding-top: 2vh; */
  /* justify-content: space-between; */
}

.main_footer_highlight {
  position: relative;
  background-color: var(--color-secondary);
  height: 40%;
  padding-left: 8vh;
  padding-right: 8vh;
  padding-bottom: 5.7vh;
  /* align-items: center;
  justify-content: center; */
  margin-top: -26px;
  margin-left: 8vh;
  border-radius: 1vh;
}

.main_footer_highlight_content {
  display: flex;
  flex-direction: column;
  gap: 6vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.footer_contact_item {
  color: white;
  padding-bottom: 2vh;
}

.footer_contact_item i {
  padding-right: 1vh;
}

.footer_infor {
  display: flex;
  justify-content: space-between;
  gap: 8vh;
}

.footer_logo {
  border-bottom: 1px solid white;
}

.main_footer_highlight .footer_logo,
.footer_contact {
  padding: 1vh;
  gap: 6px;
}

.footer_infor_list {
  display: flex;
  flex-direction: column;
  padding: 13vh 0;
  gap: 2vh;
}

#footer_infor_list_right {
  width: 40%;
}

.footer_nav_list li {
  margin-bottom: 2vh;
}

.recent_post_text h4 {
  width: max-content;
}

.recent_post_text h4 a:hover {
  color: var(--color-secondary);
}

.recent_post {
  gap: 2vh;
}

.recent_post_text {
  margin-top: 2vh;
}
.footer_nav_list li:hover a {
  color: var(--color-secondary);
}

.main_footer,
.recent_post {
  display: flex;
  /* gap: 8vh; */
  /* align-items: center; */
}

.recent_post_title a {
  font-size: 16px;
  height: 20%;
}

.footer_infor_list {
  width: 50%;
}

.footer_bottom {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8.5vh;
  padding-right: 8.5vh;
  padding-bottom: 8vh;
  padding-top: 6vh;
  height: 8vh;
  font-size: 18px;
}

.footer_bottom_nav {
  display: flex;
  gap: 10vh;
}

.footer_bottom_nav a:hover {
  color: var(--color-secondary);
}