@import "font.css";

:root {
  --color-primary: #002261;
  --color-secondary: #2ea6f7;
  --color-tartiary: #70c4c5;
  --color-fourth: #0091bc;
  --heading-color: #222;
  --body-color: #636363;
  --heading-font: "Poppins", sans-serif;
  --body-font: "Rubik", sans-serif;
}
